<div class="row">
   <div class="col-lg-12">

    <div class="form-group">
      <label for="inputUrl" class="col-form-label">URL:</label>
      <input type="text" class="form-control" id="inputUrl" [(ngModel)]="url" (change)="onUrlChanged($event)">
    </div>

    <div class="row infoserv-row">
      <div class="col-sm-3">
        <div class="form-group">
          <label>Environment:</label>
          <select class="form-control infoserv-select" [(ngModel)]="selectedEnvironment" (change)="onEnvironmentSelectionChanged($event)">
            <option *ngFor="let environment of environments" [ngValue]="environment">{{environment.name}}</option>
          </select>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="form-group">
          <label>Client (cid):</label>
          <select class="form-control infoserv-select" [(ngModel)]="selectedClient" (change)="onCidChanged($event)">
            <option *ngFor="let client of clients?.Sources" [ngValue]="client">{{client.Code}}</option>
          </select>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
            <div class="container-btn">
              <label for="inputApiKey">User (apikey):</label>
              <button class="btn infoserv-btn-apikey btn-demo" (click)="onApiKeySaveClick($event)">Remember Me</button>
              <button class="btn infoserv-btn-apikey btn-demo" (click)="onApiKeyDeleteClick($event)">Forget Me</button>
              <input type="text" spellcheck="false" class="form-control" id="inputApiKey" [(ngModel)]="apiKey">
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row infoserv-row">
  <div class="col-lg-12">
    <label for="apiRequest" class="col-form-label">Request:</label>
    <textarea class="form-control" id="apiRequest" [(ngModel)]="apiRequest" wrap="soft" readonly rows='3'></textarea>

    <textarea readonly wrap="off" class="infoserv-textarea">{{results}}</textarea>
  </div>
</div>
