.infoserv-row {
  height: 100%;
}

.infoserv-btn {
  background-color: lightblue;
  color: darkblue;
  margin: 3px;
  line-height: 1;
  padding: 0.5rem 1rem;
}

.infoserv-btn-apikey {
  background-color: lightblue;
  color: darkblue;
  margin: 3px;
  line-height: 0.5;
  padding: 0.5rem 0.5rem;
  border-radius: 0.5rem;
  font-size: 0.8rem;
  font-family: Roboto;
}

.infoserv-select {
  height: calc(1.1rem + 20px) !important;
  padding: 0.5rem 1.1rem !important;
}

.infoserv-textarea {
  overflow: auto;
  resize: none;
  height: 100%;
  width: 100%;
  margin-top: 10px;
}

.infoserv-results {
  height: 100%;
  width: 100%;
  margin-top: 10px;
}

.nb-theme-corporate .btn.btn-hero-primary {
  background-color: blue;
}

.nb-theme-corporate .btn {
  background-color: blue;
  color: red;
}

.infoserv-textarea-scrollbar::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}

.infoserv-clickablerow {
  cursor: pointer;
}

.table th, .table td {
  padding: 0.25rem;
}
