<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="STStressTesting.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <STStressTesting.Properties.Settings>
            <setting name="startRequests" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="endRequests" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="incRequests" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="startThread" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="endThread" serializeAs="String">
                <value>21</value>
            </setting>
            <setting name="incThread" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Server" serializeAs="String">
                <value>localhost:3900</value>
            </setting>
            <setting name="Pages" serializeAs="String">
                <value>tv-L2W,te-HPl,t9-ohd,tn-vlH,tc-Rqg,tG-Kzg,dB-d9E,dd-tBl,dm-bvN,d2-EBl,d7-ZiW</value>
            </setting>
            <setting name="IsPDF" serializeAs="String">
                <value>True</value>
            </setting>
        </STStressTesting.Properties.Settings>
    </applicationSettings>
</configuration>