<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="STStressTesting.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <STStressTesting.Properties.Settings>
            <setting name="startRequests" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="endRequests" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="incRequests" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="startThread" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="endThread" serializeAs="String">
                <value>21</value>
            </setting>
            <setting name="incThread" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Server" serializeAs="String">
                <value>crmls.stats.10kresearch.com</value>
            </setting>
            <setting name="Pages" serializeAs="String">
                <value>70vr-n4U</value>
            </setting>
            <setting name="IsPDF" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RenderRequestLimit" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="RenderRequestTimeoutSeconds" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="RenderRequestMaxQueueLength" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="numThreads" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="numRequestsPerThread" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="numConcurrentRequests" serializeAs="String">
                <value>30</value>
            </setting>
        </STStressTesting.Properties.Settings>
    </applicationSettings>
</configuration>